<div id="<%= dom_id dragon %>">
  <p>
    <strong>Name:</strong>
    <%= dragon.name %>
  </p>

  <p>
    <strong>Universe:</strong>
    <%= link_to dragon.universe%>
  </p>

  <p>
    <strong>Size:</strong>
    <%= dragon.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dragon.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag dragon.image, width: 500, height: 500 %>
  </p>

</div>
