<div id="<%= dom_id dragon %>">
  <p>
    <strong>Name:</strong>
    <%= dragon.name %>
  </p>

  <p>
    <strong>Universe:</strong>
    <%= dragon.universe%>
  </p>

  <p>
    <strong>Size:</strong>
    <%= dragon.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dragon.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag dragon.image %>
  </p>

</div>
