<p style="color: green"><%= notice %></p>

<%= render @dragon %>
<%= link_to "How To Train Your Dragon", universe_path%>
<div>
  <%= link_to "Edit this dragon", edit_dragon_path(@dragon) %> |
  <%= link_to "Back to dragons", dragons_path %>

  <%= button_to "Destroy this dragon", @dragon, method: :delete %>
</div>

