<p style="color: green"><%= notice %></p>

<html>
  <head>
    <style>
      body {
        margin: 10px 20px 20px 50px;
      }
    </style>
  </head>

<%= render @universe %>

<div>
  <%= link_to "Edit this universe", edit_universe_path(@universe) %> |
  <%= link_to "Back to universes", universes_path %>

  <%= button_to "Destroy this universe", @universe, method: :delete %>
</div>
