<p style="color: green"><%= notice %></p>

<html>
  <head>
    <style>
      body {
        margin: 10px 20px 20px 50px;
      }
    </style>
  </head>

<%= render @universe %>

<div>
  <%= link_to "Modifier cet univers", edit_universe_path(@universe), class: "btn btn-outline-primary" %> |
  <%= link_to "Retour vers les univers", universes_path, class: "btn btn-outline-primary" %> 
    
  <%= button_to "Supprimer cet univers", @universe, method: :delete, class: "btn btn-outline-danger" %>
</div>
